bucket              = "replace-with-state-bucket"
key                 = "devops-assessment/platform/terraform.tfstate"
region              = "cn-shanghai"
tablestore_endpoint = "https://example.cn-shanghai.ots.aliyuncs.com"
tablestore_table    = "terraform_locks"
encrypt             = true
acl                 = "private"
